@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin textheader{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;    
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
}
@mixin flexStyleEduGate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mainEduGate{
    .header{
        background-image: url("../../assets/images/headerBackground.png");
        background-size: cover;
		background-position: bottom;
        padding-top: 170px;
        padding:170px 40px 140px 40px;
        h2{
            @include textheader();
            font-weight: bold;
            font-size: 40px;
            width: 45%;
            margin-bottom: 32px;
        }
        h3{
            @include textheader();
            line-height: 28px;
            width: 700px;
            margin-bottom: 28px;
        }
        .listLvl{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 360px;
            p{
                @include textheader();
                list-style: inside;
                display: flex;
                align-items: center;
                .circleList{
                    margin-right: 13px;
                    width: 4px;
                    height: 4px;
                    background: #fff;
                    border-radius: 50%;
                }
            }
			p:nth-child(1){
				margin-bottom: 16px;
			}
			p:nth-child(2){
				margin-bottom: 16px;
			}
        }
        .freeConsult{
            @include textheader();
            margin-top: 38px;
            padding: 20px 40px;
            background: #E5F7FF;
            border-radius: 10px;
            color: #00587F;
            border: none;
            cursor: pointer;
        }
        .chat{
            @include flexStyleEduGate();
            margin-top: 73px;
            h4{
                @include textheader();
                font-size: 25px;
            }
            img{
                width: 78px;
                height: 78px;
                cursor: pointer;
            }
        }
        .filter{
            @include flexStyleEduGate();
            padding:30px 36px;
            background: rgba(166, 201, 217, 0.5);
            backdrop-filter: blur(12px);
            border-radius: 17px;
            .dropDwn{
					background: #F3F6F7;
					border-radius: 12px;
					width: 335px;
					height: 73px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding-right: 20px;
					padding-left: 20px;
					select{
						width: 100%;
						height: 100%;
						font-style: normal;
						font-weight: 600;
						font-size: 22px;
						line-height: 26px;
						color: #5C7C8A;
						background: none;
						border: none;
						outline: none;
					}
					svg{
						z-index: 11;
					}
            }
            .dropSearch{
                cursor: pointer;
                padding: 20px 37px;
                // width: 32px;
                background: #F3F6F7;
                box-shadow: 0px 4px 8px rgba(92, 124, 138, 0.12);
                border-radius: 12px;
				margin-left: 15px;
            }
        }
       
    } // end header

    .resultBlock{
        padding: 70px 40px 28px 40px;
        h5{
            @include textheader();
            font-size: 25px;
            color: #000;
            margin-bottom: 32px;
        }
        .result{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                padding-bottom: 36px;
                width: 426px;
                position: relative;
                background: #E2F1F8;
                border-radius: 12px;
                margin-bottom: 40px;

                img{
                    width: 426px;
                    height: 286px;
                    border-radius: 12px 12px 0 0;
                }
                svg{
                    position: absolute;
                    top: 17px;
                    right: 17px;
                    cursor: pointer;
                }
                h1{
                    @include textheader();
                    font-weight: bold;
                    font-size: 26px;
                    color: #000;
                    margin-top: 22px;
                    margin-bottom: 12px;
                    padding: 0 20px;
                }
                p{
                    @include textheader();
                    font-weight: normal;
                    font-size: 24px;
                    color: #000;
                    margin: 0;
                    padding: 0 20px;
                }
                h2{
                    @include textheader();
                    color: #000;
                    margin-top: 22px;
                    font-weight: 500;
                    padding: 0 20px;
                }
                span{
                    color: #00121A;
                    font-weight: bold;
                }
                h3{
                    @include textheader();
                    color: #000;
                    margin: 14px 0;
                    font-weight: 500;
                    padding: 0 20px;
                }
                h4{
                    @include textheader();
                    color: #000;
                    font-weight: 500;
                    padding: 0 20px;
                }
            }
        } // end result
    } // endresultBlock

    .aboutBlock{
        padding: 70px 40px 20px 40px;
        h5{
            @include textheader();
            font-size: 25px;
            color: #000;
            margin-bottom: 32px;
        }
        .aboutUs{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            & > div > .cardAbout:nth-child(1){
                margin-bottom: 72px;
            }
            .cardAbout{
                display: flex;
                align-items: center;

                .icon{
                    @include flexStyleEduGate();
                    justify-content: center;
                    width: 120px;
                    height: 120px;
                    background: #D1DCE0;
                    border-radius: 50%;
                    margin-right: 28px;
                    
                }
                h4{
                    @include textheader();
                    font-size: 45px;
                    font-weight: bold;
                    color: #00587F;
                    line-height: 42px;
                    span{
                        @include textheader();
                        font-size: 28px;
                        color: #5C7C8A;
                    }
                }
            }
        } //end aboutUs
    } // end aboutBlock

    .topFacultetBlock{
        padding: 0 40px;
        h4{
			@include textheader();
			font-size: 25px;
			color: #000;
			margin-bottom: 32px;
        }
        .topFacultet{
            @include flexStyleEduGate();
            flex-wrap: wrap;
            .card{
                position: relative;
                width: 426px;
                height: 180px;
                border-radius: 10px;
                margin-bottom: 40px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
                p{
                    @include textheader();
                    @include flexStyleEduGate();
                    justify-content: center;
                    position: absolute;
                    font-weight: bold;
                    font-size: 24px;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                }
                span{
                    content: "";
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(0deg, rgba(0, 88, 127, 0.4), rgba(0, 88, 127, 0.4));
                    border-radius:12px;
                    z-index: 2; 
                }
            }
        }
    } // end topFacultetBlock

    .workBlock{
        
        padding:58px 40px 0 40px;
        h4{
            @include textheader();
            font-size: 24px;
            font-weight: bold;
            color: #000;
            margin-bottom: 32px;
        }
        .weareWork{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 250px;
            .card{
                @include flexStyleEduGate();
                flex-direction: column;
                justify-content: flex-start;
                position: relative;
               
                div{
                    @include flexStyleEduGate();
                    justify-content: center;
                    width: 180px;
                    height: 180px;
                    background: #D1DCE0;
                    border-radius: 10px;

                    img{
                        width: 99px;
                    }
                }
                p{
                    @include textheader();
                    font-size: 25px;
                    margin-top: 14px;
                    color: rgba(0, 0, 0, 0.75);
                    width: 360px;
                    text-align: center;
                }
            }
            .card:nth-child(1)::after{
                content: "";
                position: absolute;
                height: 24px;
                width: 200px;
                background-image: url("../../assets/icon/Line1.svg");
                right: -90px;
                top: 78px;
            }
            .card:nth-child(2)::after{
                content: "";
                position: absolute;
                height: 24px;
                width: 200px;
                background-image: url("../../assets/icon/Line1.svg");
                right: -90px;
                top: 78px;
            }
            .card:nth-child(3)::after{
                content: "";
                position: absolute;
                height: 150px;
                width: 24px;
                background-image: url("../../assets/icon/LineVec2.svg");
                
                left: 292px;
                bottom: -200px;
            }
            .card:nth-child(4)::after{
                content: "";
                position: absolute;
                height: 24px;
                width: 200px;
                background-image: url("../../assets/icon/Line1.svg");
                right: -90px;
                top: 78px;
                transform: rotate(180deg);
            }
            .card:nth-child(5)::after{
                content: "";
                position: absolute;
                height: 24px;
                width: 200px;
                background-image: url("../../assets/icon/Line1.svg");
                right: -90px;
                top: 78px;
                transform: rotate(180deg);
            }
            

        }
    } // end workBlock

    .swipperBlock{
        padding: 98px 40px;
        h4{
            @include textheader();
            font-size: 25px;
            font-weight: 600;
            color: #000;
            margin-bottom: 32px;
        }
           
        .card{
            padding: 42px 22px 34px 22px;
            background: #E2F1F8;
            border-radius: 10px;
            height: 600px;
            .top{
                display: flex;
                align-items: center;
                img{
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    margin-right: 22px;
                }
                h1{
                    @include textheader();
                    font-weight: bold;
                    font-size: 26px;
                    color: #000;
                }
                h2{
                    @include textheader();
                    font-weight: 500;
                    font-size: 24px;
                    color: #000;
                    margin: 11px 0;
                }
                h3{
                    @include textheader();
                    font-weight: 500;
                    font-size: 22px;
                    color: #000;
                }
            }
            p{
                @include textheader();
                font-weight: 500;
                font-size: 24px;
                color: #000;
                margin-top: 25px;
                line-height: 35px;
            }
            
        } // end card
        .swiper-wrapper{
            padding-bottom: 40px !important; 
        }
        .swiper-container{
            padding-bottom: 30px;
        }
        .swiper-button-next, .swiper-button-prev{
            top: 338px;
        }
        .swiper-button-next::before{
            // background-image: url("../icon/swipNext.svg" ) ;
        }
        .swiper-button-disabled{
            display: none;
        }
        .swiper-pagination-bullet{
            --swiper-theme-color:black;
        }
    } // end swipperBlock
	.mainEduGate .swipperBlock .swiper-button-next, .mainEduGate .swipperBlock .swiper-button-prev{
	
	}
}

// 1280
@media (max-width:1440px) {
	.mainEduGate .workBlock .weareWork .card:nth-child(3)::after{
		left: 215px;
	}
}


// 1280
@media (max-width:1280px) {
	.mainEduGate{
		.header .filter .dropDwn{
			width: 265px;
		}
		 .resultBlock{
			  padding-top: 50px;
			  padding-bottom: 0;
			  .result{
					justify-content: space-evenly;
					.card{
						 width: 370px;
						 h1{
							  margin-top: 15px;
							  margin-bottom: 10px;   
							  font-size: 24px;
						 }
						 p{
							  font-size: 22px;
						 }
						 img{
							  width: 370px;
							  height: 250px;
						 }
						 h2{
							  margin-top: 16px;
							  font-size: 18px;
						 }
						 h3{
							  font-size: 18px;
						 }
						 h4{
							  font-size: 18px;
						 }
					}
			  } 
		 }
		 .aboutBlock{
			  .aboutUs{
					.cardAbout{
						h4{
							 font-size: 40px;
							 span{
								  font-size: 24px;
							 }
						}
						 .icon{ 
							  width: 100px;
							  height: 100px;
							  img{
									width: 50px;
							  }
						 }
					}
			  }
		 }
		 .topFacultetBlock{
			  .topFacultet{
					.card{
						 width: 380px;
						 height: 160px;
					}
			  }
		 }
		 .workBlock{
			  .weareWork{
					row-gap: 160px;
					.card{
						 div{
							  width: 160px;
							  height: 160px;
							  img{
									width: 80px;
							  }
						 }
					}
					.card:nth-child(1)::after{
						 background-image: url("../../assets/icon/vector1024_2.svg");
						 height: 100px;
						 transform: rotate(90deg);
						 width: 24px;
						 right: -10px;
						 top:30px;
					}
					.card:nth-child(2)::after{
						 background-image: url("../../assets/icon/vector1024_2.svg");
						 height: 100px;
						 transform: rotate(90deg);
						 width: 24px;
						 right: -10px;
						 top:30px;
					}
					.card:nth-child(3)::after{
						 background-image: url("../../assets/icon/vector1024_2.svg");
						 height: 100px;
						 left: 170px;
						 bottom: -125px;
					}
					.card:nth-child(4)::after{
						 background-image: url("../../assets/icon/vector1024_2.svg");
						 height: 100px;
						 transform: rotate(90deg);
						 width: 24px;
						 right: -10px;
						 top:30px;
					}
					.card:nth-child(5)::after{
						 background-image: url("../../assets/icon/vector1024_2.svg");
						 height: 100px;
						 transform: rotate(90deg);
						 width: 24px;
						 right: -10px;
						 top:30px;
					}
			  }
		 }
		 .swipperBlock{
			  .card{
					padding-top:20px;
					.top{
						 h1{
							  font-size: 22px;
						 }
						 h2{
							  font-size: 20px;
							  margin: 6px 0;
						 }
						 h3{
							  font-size: 18px;
						 }
						 img{
							  width: 100px;
							  height: 100px;
						 }
					}
					p{
						 margin-top: 14px;
						 font-size: 18px;
					}
			  } 
		 }
	}
} 




// 1024 
@media (max-width:1024px) {
	.mainEduGate{
		 .header{
			  padding-top: 120px;
			  h2{
					font-size: 28px;
					width: 65%;
					margin-bottom: 15px;
			  }
			  h3{
					font-size: 18px;
					width: 550px;
					margin: 25px 0;
			  }
			  .listLvl{
					p{
						 font-size: 18px;
					}
			  }
			  .freeConsult{
					margin-top: 15px;
					font-size: 18px;
			  }
			  .chat{
					margin-top: 30px;
					h4{
						 font-size: 22px;
					}
			  }
			  .filter{
					padding:22px 30px;
					.dropDwn{
						 width: 190px;
					}
					.dropSearch{
						 padding: 17px 30px;
					}
			  }
		 }
		 .resultBlock{
			  & > h5{
					font-size: 22px;
			  }
			  .result{
					.card{
						 width: 280px;
						 h1{
							  font-size: 19px;
							  padding:0 10px;
						 }
						 p{
							  font-size: 18px;
							  padding:0 10px;
						 }
						 img{
							  width: 280px;
							  height: 190px;
						 }
						 h2{
							  font-size: 16px;
							  padding:0 10px;
						 }
						 h3{
							  font-size: 16px;
							  padding:0 10px;
						 }
						 h4{
							  font-size: 16pz;
							  padding:0 10px;
						 }
					}
			  } 
		 }
		 .aboutBlock{
			  padding-top: 20px;
			  & > h5{
					font-size: 22px;
			  }
			  .aboutUs{
					.cardAbout{
						 margin-bottom: 50px;
						h4{
							 line-height: 30px;
							 font-size: 34px;
							 span{
								  font-size: 22px;
							 }
						}
						 .icon{ 
							  width: 70px;
							  height: 70px;
							  img{
									width: 35px;
							  }
						 }
					}
			  }
		 }
		 .topFacultetBlock{ 
			  h4{
					font-size: 22px;
			  }
			  .topFacultet{
				  
					.card{
						 width: 290px;
						 height: 126px;
						 p{
							  font-size: 18px;
						 }
					}
			  }
		 }
		 .workBlock{
			  .weareWork{
					.card{
						 p{
							  width: 250px;
							  font-size: 18px;   
						 }
						 div{
							  width: 140px;
							  height: 140px;
							  img{
									width: 70px;
							  }
						 }
					}
					.card:nth-child(3)::after{
						 left: 145px;
					  
					}
			  }
		 }
		 .swipperBlock{
			  .card{
					height: 420px;
					.top{
						 h1{
							  font-size: 16px;
						 }
						 h2{
							  font-size: 14px;
						 }
						 h3{
							  font-size: 14px;
						 }
						 img{
							  width: 70px;
							  height: 70px;
							  margin-right: 15px;
						 }
					}
					p{
						 font-size: 15px;
						 line-height: 28px;
					}
			  } 
		 }
	}
	.mainEduGate .swipperBlock .swiper-button-next, .mainEduGate .swipperBlock .swiper-button-prev{
		 top: 237px;
	}
} 




// 768 
@media (max-width:768px) {
	.mainEduGate{
		 .header{
			  padding-bottom: 70px;
			  h2{
					width: 75%;
					font-size: 26px;
			  }
			  h3{
					font-size: 16px;
					width: 490px;
			  }
			  .listLvl{
					p{
						 font-size: 16px;
					}
			  }
			  .freeConsult{
					font-size: 16px;
			  }
			  .chat{
					h4{
						 font-size: 20px;
					}
					img{
						 width: 54px;
						 height: 54px;
					}
			  }
			  .filter{
					.dropDwn{
						 width: 115px;
						 height: 56px;
						 select{
							  font-size: 16px;
						 }
					}
					.dropSearch{
						 padding: 14PX 25px;
						 svg{
							  width: 26px;
							  height: 24px;
						 }
					}
			  }
		 }
		 .resultBlock{
			  padding: 40px 20px  0 20px;
			  // & > h5{
			  // }
			  .result{
					.card{
						 width: 220px;
						 svg{
							  top: 10px;
							  right: 10px;
						 }
						 h1{
							  font-size: 16px;
							  margin-top: 6px;
						 }
						 p{
							  font-size: 16px;
						 }
						 img{
							  width: 220px;
							  height: 140px;
						 }
						 h2{
							  font-size: 14px;
						 }
						 h3{
							  font-size: 14px;
						 }
						 h4{
							  font-size: 14px;
						 }
					}
			  } 
		 }
		 .aboutBlock{
			  padding: 20px;
			  // & > h5{
			  // }
			  .aboutUs{
					.cardAbout{
						h4{
							 font-size: 30px;
							 span{
								  font-size: 18px;
							 }
						}
						 .icon{ 
							  width: 60px;
							  height: 60px;
							  img{
									width: 30px;
							  }
						 }
					}
			  }
		 }
		 .topFacultetBlock{ 
			  padding: 0 20px;
			  // h4{
			  // }
			  .topFacultet{
					.card{
						 width: 225px;
						 height: 107px;
						 margin-bottom: 20px;
						 p{
							  font-size: 16px;
						 }
					}
			  }
		 }
		 .workBlock{
			  .weareWork{
					row-gap: 125px;
					.card{
						 p{  
							  width: 215px;
						 }
						 div{
							  width: 100px;
							  height: 100px;
							  img{
									width: 50px;
							  }
						 }
					}
					.card:nth-child(1)::after{
						 top: 0;
					  
					}
					.card:nth-child(2)::after{
						 top: 0;
						 
					}
					.card:nth-child(3)::after{
						 left: 100px;
						 bottom: -115px;
					  
					}
					.card:nth-child(4)::after{
						 top: 0;
				  
					}
					.card:nth-child(5)::after{
						 top: 0;
					 
					}
			  }
		 }
		 .swipperBlock{
			  padding: 50px 20px;
		 }
	}
} 




// 425 
@media (max-width:425px) {
	.mainEduGate .header .filter .dropSearch{
		margin-left: 0;
	}
	.mainEduGate{
		 .header{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 40px 15px 20px 15px;
			  h2{
					font-size: 22px;
					width: 80%;
					text-align: center;
					margin: 0 auto;
			  }
			  h3{
					width: auto;
					font-size: 14px;
					font-size: 14px;
					width: auto;
					text-align: center;
			  }
			  .listLvl{
					
					p{
						 display: flex;
						 align-items: center;
						 justify-content: center;
						 .circleList{
							  margin-right: 8px;
						 }
					}
			  }
			  .freeConsult{
					margin: auto;
					margin-top: 15px;
					display: block;
			  }
			  .chat{
					h4{
					}
			  }
			  .filter{
					flex-direction: column;
					.dropDwn{
						 margin-bottom: 20px;
						 width: 280px;
					}
					.dropSearch{
					}
			  }
		 }
		 .resultBlock{
			  & > h5{
					text-align: center;
			  }
			  .result{
					.card{
						 width: 350px;
						 h1{
						 }
						 p{
						 }
						 img{
							  width: 350px;
							  height: 250px;
						 }
						 h2{
						 }
						 h3{
						 }
						 h4{
						 }
					}
			  } 
		 }
		 .aboutBlock{
			  & > h5{
					text-align: center;
			  }
			  .aboutUs{
					flex-direction: column;
					div > .cardAbout:nth-child(1){
						 margin-bottom: 20px;
					}
					.cardAbout{
						 margin-bottom: 20px;
						h4{
							 span{
							 }
						}
						 .icon{ 
							  img{
							  }
						 }
					}
			  }
		 }
		 .topFacultetBlock{ 
			  h4{
					text-align: center;
					margin-bottom: 20px;
			  }
			  .topFacultet{
				  
					.card{
						 width: 180px;
						 height: 97px;
						 p{
						 }
					}
			  }
		 }
		 .workBlock{
			 padding-left: 20px;
			 padding-right: 20px;
			  h4{
					text-align: center;
			  }
			  .weareWork{
					row-gap: 60px;
					.card{
						
						 p{  
							 width: 110px;
							 font-size: 12px;	
						 }
						 div{
							 width: 60px;
							 height: 60px;
							  img{
								  width: 30px;
							  }
						 }
					}
					.card:nth-child(1)::after{
						// background: none;
						background-image: url("../../assets/icon/vector1024_2.svg"); 
						 width: 18px;
						 height: 12px;
						 top:23px;
						 left:115px;
						 transform: rotate(0deg);

					}
					.card:nth-child(2)::after{
						background-image: url("../../assets/icon/vector1024_2.svg"); 
						width: 18px;
						height: 12px;
						top:23px;
						left:115px;
						transform: rotate(0deg);
					}
					.card:nth-child(3)::after{
						background-image: url("../../assets/icon/vector1024_2.svg"); 
						width: 18px;
						height:12px;
						top:135px;
						left:55px;
						transform: rotate(90deg);
					}
					.card:nth-child(4)::after{
						background-image: url("../../assets/icon/vector1024_2.svg"); 
						width: 18px;
						height: 12px;
						top:23px;
						left:115px;
						transform: rotate(180deg);
					}
					.card:nth-child(5)::after{
						background-image: url("../../assets/icon/vector1024_2.svg"); 
						width: 18px;
						height: 12px;
						top:23px;
						left:115px;
						transform: rotate(180deg);
					}
			  }
		 }
		 .swipperBlock{
			  .card{
					.top{
						 h1{
						 }
						 h2{
						 }
						 h3{
						 }
						 img{
						 }
					}
					p{
					}
			  } 
		 }
	}
	.mainEduGate .swipperBlock .swiper-button-next, .mainEduGate .swipperBlock .swiper-button-prev{
		
	}
} 
@media (max-width:400px) {
	.mainEduGate .topFacultetBlock .topFacultet .card{
		width: 160px;
		p{
			align-items: center;
		}
	}
	.mainEduGate .workBlock .weareWork {
		.card:nth-child(1)::after{
			left: 106px;
		}
		.card:nth-child(2)::after{
			left: 106px;
		}
		.card:nth-child(3)::after{
			left: 46px;
		}
		.card:nth-child(4)::after{
			left: 106px;
		}
		.card:nth-child(5)::after{
			left: 106px;
		}
		.card p{
			width: 105px;
			font-size: 10px;
		}
	}
}
@media (max-width:375px) {
	.mainEduGate{
		.header{
			padding: 40px 15px 20px 15px;
			.filter{
				padding: 20px;
			}
		}
		.topFacultetBlock{
			.topFacultet{
				.card{
					p{
						font-size: 14px;
						text-align: center;
					}
					width: 160px;
					height: 90px;
				}
			}
		}
		.workBlock{
			h4{
				text-align: center;
			}
			
			.weareWork{
				.card p{
					width: 84px;
					font-size: 10px;
				}
				.card:nth-child(1)::after{
					left:101px;
				}
				.card:nth-child(2)::after{
					left:101px;
				}
				.card:nth-child(3)::after{
					left:46px;
					top: 135px;
				}
				.card:nth-child(4)::after{
					left:101px;
				}
				.card:nth-child(5)::after{
					left:101px; 
				}
			}
		}
	}	
}


@media (max-width:365px) {
	.mainEduGate .topFacultetBlock .topFacultet .card{
		width: 135px;
	}
}


@media (max-width:320px) {
	.mainEduGate{
		.header{
			.listLvl{
				width: 300px;
			}
			.filter{
				padding: 10px;
				.dropDwn{
					width: 235px;
				}
			}
		}
		.resultBlock{
			.result{
				.card{
					width: 300px;
					img{
						width: 300px;
						height: 210px;
					}
				}
			}
		}
		.topFacultetBlock{
			h4{
				font-size: 19px;
			}
			.topFacultet{
				.card{
					width: 135px;
					height: 85px;
				}
			}
		}
		.aboutBlock{
			.aboutUs{
				.cardAbout{
					h4{
						font-size: 25px;
						span{
							font-size: 13px;
						}
					}
				}
			}
		}
		.workBlock{	padding-left: 10px;
				padding-right: 10px;
			h4{
				 font-size: 22px;
			}
			.weareWork{
			
				 .card:nth-child(1)::after{
					  left:90px;
				 }
				 .card:nth-child(2)::after{
					  left:90px;
				 }
				 .card:nth-child(3)::after{
					  left:37px;
				 }
				 .card:nth-child(4)::after{
					  left:90px;
				 }
				 .card:nth-child(5)::after{
					  left:90px; 
				 }
			}
	  	}
		.swipperBlock{
			h4{
				font-size: 22px;
				text-align: center;
			}
		}
	}
}