@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin textheader{
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;    
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0;
}
@mixin flexStyleEduGate{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.star_image{
	width: auto;
	height: auto;
}

.mainEduGate{
	.header{
		background-image: url("../../assets/images/headerBackground.png");
		background-size: cover;
		background-position: bottom;
		padding-top: 170px;
		padding:170px 40px 100px 40px;
		h2{
			@include textheader();
			font-weight: bold;
			font-size: 40px;
			width: 45%;
			margin-bottom: 32px;
		}
		h3{
			@include textheader();
			line-height: 28px;
			width: 700px;
			margin-bottom: 28px;
		}
		.listLvl{
			display: grid;
			grid-template-columns: 1fr 1fr;
			width: 360px;
			margin-bottom: 40px;
			p{
				@include textheader();
				list-style: inside;
				display: flex;
				align-items: center;
				.circleList{
					margin-right: 13px;
					width: 4px;
					height: 4px;
					background: #fff;
					border-radius: 50%;
				}
			}
			p:nth-child(1){
				margin-bottom: 16px;
			}
			p:nth-child(2){
				margin-bottom: 16px;
			}
		}
		.freeConsult{
			@include textheader();
			padding: 20px 40px;
			background: #E5F7FF;
			border-radius: 10px;
			color: #00587F;
			border: none;
			cursor: pointer;
		}
		.chat{
			@include flexStyleEduGate();
			margin-top: 73px;
			h4{
				@include textheader();
				font-size: 25px;
			}
			img{
				width: 78px;
				height: 78px;
				cursor: pointer;
			}
		}
		.filter{
			@include flexStyleEduGate();
			padding:30px 36px;
			background: rgba(166, 201, 217, 0.5);
			backdrop-filter: blur(12px);
			border-radius: 17px;
			.dropDwn{
					background: #F3F6F7;
					border-radius: 12px;
					width: 335px;
					height: 73px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding-right: 20px;
					padding-left: 20px;
					select{
						width: 100%;
						height: 100%;
						font-style: normal;
						font-weight: 600;
						font-size: 22px;
						line-height: 26px;
						color: #5C7C8A;
						background: none;
						border: none;
						outline: none;
						option:nth-child(1){
							display: none;
						}
					}
					svg{
						z-index: 11;
					}
			}
			.dropSearch{
				cursor: pointer;
				padding: 20px 37px;
				// width: 32px;
				background: #F3F6F7;
				box-shadow: 0px 4px 8px rgba(92, 124, 138, 0.12);
				border-radius: 12px;
				margin-left: 15px;
			}
		}
	
	} // end header

	.resultBlock{
		padding: 70px 30px 28px 30px;
		h5{
			@include textheader();
			font-size: 25px;
			color: #000;
			margin-bottom: 32px;
		}
		.result{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			.card{
				padding-bottom: 36px;
				width: 426px;
				position: relative;
				background: #E2F1F8;
				border-radius: 12px;
				margin-bottom: 40px;
				box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
				margin: 15px;
				cursor: pointer;
				.star_image{
					width: auto;
					height: auto;
				}
				img{
					width: 426px;
					height: 286px;
					border-radius: 12px 12px 0 0;
				}
				svg{
					position: absolute;
					top: 17px;
					right: 17px;
					cursor: pointer;
				}
				h1{
					@include textheader();
					font-weight: bold;
					font-size: 26px;
					color: #000;
					margin-top: 22px;
					margin-bottom: 12px;
					padding: 0 20px;
				}
				p{
					@include textheader();
					font-weight: normal;
					font-size: 24px;
					color: #000;
					margin: 0;
					padding: 0 20px;
					height: 150px;
				}
				h2{
					@include textheader();
					color: #000;
					margin-top: 22px;
					font-weight: 500;
					padding: 0 20px;
				}
				span{
					color: #00121A;
					font-weight: bold;
				}
				h3{
					@include textheader();
					color: #000;
					margin: 14px 0;
					font-weight: 500;
					padding: 0 20px;
				}
				h4{
					@include textheader();
					color: #000;
					font-weight: 500;
					padding: 0 20px;
				}
			}
		} // end result
	} // endresultBlock

	.aboutBlock{
		padding: 70px 40px 20px 40px;
		h5{
			@include textheader();
			font-size: 25px;
			color: #000;
			margin-bottom: 32px;
		}
		.aboutUs{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.cardAbout{
				background: #E0F6FF;
				border-radius: 12px;
				height: 322px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				padding-left: 15px;
				padding-right: 15px;

				h1{
					font-weight: bold;
					font-size: 45px;
					color: #00587F;
				}
				h4{
					font-weight: 600;
					font-size: 26px;
					color: #000000;
					margin-top: 15px;
					margin-bottom: 8px;
				}
				p{
					font-size: 24px;
					color: #000000;
					text-align: center;
					width: 440px;
				}
			}
		} //end aboutUs
	} // end aboutBlock

	.topFacultetBlock{
		padding: 0 40px;
		h4{
			@include textheader();
			font-size: 25px;
			color: #000;
			margin-bottom: 32px;
		}
		.topFacultet{
			@include flexStyleEduGate();
			flex-wrap: wrap;
			.card{
				position: relative;
				width: 426px;
				height: 180px;
				border-radius: 10px;
				margin-bottom: 40px;
				img{
					width: 100%;
					height: 100%;
					border-radius: 10px;
				}
				p{
					@include textheader();
					@include flexStyleEduGate();
					justify-content: center;
					position: absolute;
					font-weight: bold;
					font-size: 24px;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 3;
				}
				span{
					content: "";
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					background: linear-gradient(0deg, rgba(0, 88, 127, 0.4), rgba(0, 88, 127, 0.4));
					border-radius:12px;
					z-index: 2; 
				}
			}
		}
	} // end topFacultetBlock

	.workBlock{
		
		padding:58px 40px 0 40px;
		h4{
			@include textheader();
			font-size: 24px;
			font-weight: bold;
			color: #000;
			margin-bottom: 32px;
		}
		.weareWork{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			row-gap: 250px;
			.cardBack{
				display:flex;
				flex-direction: column;
				background: #E0F6FF;
				border-radius: 29px;
				padding: 30px;
			}
			.card{
				@include flexStyleEduGate();
				justify-content: center;
				// flex-direction: column;
				// justify-content: flex-start;
				position: relative;
			
				.cardBack div{
					@include flexStyleEduGate();
					justify-content: center;
					border-radius: 10px;

					img{
						width: 150px;
					}
				}
				p{
					@include textheader();
					font-size: 25px;
					color: rgba(0, 0, 0, 0.75);
					width: 285px;
					text-align: center;
				}
			}
			.card:nth-child(1)::after{
				content: "";
				position: absolute;
				height: 24px;
				width: 120px;
				background-image: url("../../assets/icon/Line1.svg");
				right: -60px;
				top: 125px;
				background-repeat: no-repeat;
			}
			.card:nth-child(2)::after{
				content: "";
				position: absolute;
				height: 24px;
				width: 120px;
				background-image: url("../../assets/icon/Line1.svg");
				right: -60px;
				top: 125px;
				background-repeat: no-repeat;
			}
			.card:nth-child(3)::after{
				content: "";
				position: absolute;
				height: 120px;
				width: 24px;
				background-image: url("../../assets/icon/LineVec2.svg");
				background-repeat: no-repeat;
				left: 310px;
				bottom: -180px;
			}
			.card:nth-child(4)::after{
				content: "";
				position: absolute;
				height: 24px;
				width: 120px;
				background-image: url("../../assets/icon/Line1.svg");
				right: -60px;
				top: 125px;
				transform: rotate(180deg);
				background-repeat: no-repeat;
			}
			.card:nth-child(5)::after{
				content: "";
				position: absolute;
				height: 24px;
				width: 120px;
				background-image: url("../../assets/icon/Line1.svg");
				right: -60px;
				top: 125px;
				transform: rotate(180deg);
			}
			

		}
	} // end workBlock

	.swipperBlock{
		padding: 98px 40px;
		h4{
			@include textheader();
			font-size: 25px;
			font-weight: 600;
			color: #000;
			margin-bottom: 32px;
		}
		
		.card{
			padding: 42px 22px 34px 22px;
			background: #E2F1F8;
			border-radius: 10px;
			height: 600px;
			.top{
				display: flex;
				align-items: center;
				img{
					width: 140px;
					height: 140px;
					border-radius: 50%;
					margin-right: 22px;
				}
				h1{
					@include textheader();
					font-weight: bold;
					font-size: 26px;
					color: #000;
				}
				h2{
					@include textheader();
					font-weight: 500;
					font-size: 24px;
					color: #000;
					margin: 11px 0;
				}
				h3{
					@include textheader();
					font-weight: 500;
					font-size: 22px;
					color: #000;
				}
			}
			p{
				@include textheader();
				font-weight: 500;
				font-size: 24px;
				color: #000;
				margin-top: 25px;
				line-height: 35px;
			}
			
		} // end card
		.swiper-wrapper{
			padding-bottom: 40px !important; 
		}
		.swiper-container{
			padding-bottom: 30px;
		}
		.swiper-button-next, .swiper-button-prev{
			top: 338px;
		}
		.swiper-button-next::before{
			// background-image: url("../icon/swipNext.svg" ) ;
		}
		.swiper-button-disabled{
			display: none;
		}
		.swiper-pagination-bullet{
			--swiper-theme-color:black;
		}
	} // end swipperBlock
	.mainEduGate .swipperBlock .swiper-button-next, .mainEduGate .swipperBlock .swiper-button-prev{
	
	}
}


// 1600
@media (max-width:1600px) {
	.mainEduGate{
		.workBlock .weareWork{
			row-gap: 165px;
			.card{
				.cardBack{
					border-radius: 20px;
					padding: 20px;
					div{
						img{
							width: 125px;
						}
					}
				}
			} 
			.card:nth-child(1)::after{
				top: 100px;
			}
			.card:nth-child(2)::after{
				top: 100px;
			}
			.card:nth-child(3)::after{
				left: 245px;
				bottom: -145px;
			}
			.card:nth-child(4)::after{
				top: 100px;
			}
			.card:nth-child(5)::after{
				top: 100px;
			}
		} 
		.aboutBlock{
			.aboutUs{
				.cardAbout{
					p{
						width: 360px;
					}
				}
			}
		}
	}
}


// 1600
@media (max-width:1600px) {
	.mainEduGate .header{

	}
}

// 1440
@media (max-width:1440px) {
	.mainEduGate{
		.workBlock .weareWork{
			row-gap: 110px;
			.card{
				p{
					font-size: 20px;
					width: 215px;
				}
				.cardBack{
					padding: 15px;
					div{
						img{
							width: 110px;
						}
					}
				}
			} 
			.card:nth-child(1)::after{
				background-position: right;
				width: 70px;
				right: -40px;
				top: 77px;
			}
			.card:nth-child(2)::after{
				background-position: right;
				width: 70px;
				right: -40px;
				top: 77px;
			}
			.card:nth-child(3)::after{
				height: 70px;
				background-position: bottom;
				left: 215px;
				bottom: -90px;
			}
			.card:nth-child(4)::after{
				width: 70px;
				background-position: right;
				right: -40px;
				top: 77px;
				
			}
			.card:nth-child(5)::after{
				width: 70px;
				background-position: right;
				right: -40px;
				top: 77px;
				
			}
		} 

		.swipperBlock .card{
			.top{
				img{
					width: 120px;
					height: 120px;
				}
				h1{
					font-size: 18px;
				}
				h2{
					font-size: 18px;
				}
				h3{
					font-size: 16px;
				}
			} 
			p{
				font-size: 19px;
			}
		}
	}
}


// 1280
@media (max-width:1280px) {
	.mainEduGate{
		.header .filter .dropDwn{
			width: 265px;
		}
		.resultBlock{
			padding-top: 50px;
			padding-bottom: 0;
			.result{
					justify-content: space-evenly;
					.card{
						width: 370px;
						h1{
							margin-top: 15px;
							margin-bottom: 10px;   
							font-size: 24px;
						}
						p{
							font-size: 22px;
						}
						img{
							width: 370px;
							height: 250px;
						}
						h2{
							margin-top: 16px;
							font-size: 18px;
						}
						h3{
							font-size: 18px;
						}
						h4{
							font-size: 18px;
						}
					}
			} 
		}
		.aboutBlock{
			.aboutUs{
				.cardAbout{
					height: 220px;
					h1{
						font-size: 36px;
						margin-bottom: 0;
					}
					h4{
						font-size: 20px;
						margin-top: 10px;
					}
					p{
						font-size: 18px;
						width: 270px;
					}
				}
			}
		}
		.topFacultetBlock{
			.topFacultet{
				.card{
						width: 380px;
						height: 160px;
				}
			}
		}
		.workBlock{
			.weareWork{
					.card{
						div{
							img{
									
							}
						}
					}
					.card:nth-child(1)::after{
						
					}
					.card:nth-child(2)::after{
					
					}
					.card:nth-child(3)::after{
						left: 185px;
					}
					.card:nth-child(4)::after{
						
					}
					.card:nth-child(5)::after{
					
					}
			}
		}
		.swipperBlock{
			.card{
					padding-top:20px;
					.top{
						h1{
							font-size: 22px;
						}
						h2{
							font-size: 20px;
							margin: 6px 0;
						}
						h3{
							font-size: 18px;
						}
						img{
							width: 100px;
							height: 100px;
						}
					}
					p{
						margin-top: 14px;
						font-size: 18px;
					}
			} 
		}
	}
} 




// 1024 
@media (max-width:1024px) {
	.mainEduGate{
		.header{
			padding-top: 120px;
			h2{
					font-size: 28px;
					width: 65%;
					margin-bottom: 15px;
			}
			h3{
					font-size: 18px;
					width: 550px;
					margin: 25px 0;
			}
			.listLvl{
					p{
						font-size: 18px;
					}
			}
			.freeConsult{
					margin-top: 15px;
					font-size: 18px;
			}
			.chat{
					margin-top: 30px;
					h4{
						font-size: 22px;
					}
			}
			.filter{
					padding:22px 30px;
					.dropDwn{
						width: 190px;
					}
					.dropSearch{
						padding: 17px 30px;
					}
			}
		}
		.resultBlock{
			& > h5{
					font-size: 22px;
			}
			.result{
					.card{
						width: 280px;
						h1{
							font-size: 19px;
							padding:0 10px;
						}
						p{
							font-size: 18px;
							padding:0 10px;
						}
						img{
							width: 280px;
							height: 190px;
						}
						h2{
							font-size: 16px;
							padding:0 10px;
						}
						h3{
							font-size: 16px;
							padding:0 10px;
						}
						h4{
							font-size: 16pz;
							padding:0 10px;
						}
					}
			} 
		}
		.aboutBlock{
			padding-top: 20px;
			& > h5{
					font-size: 22px;
			}
			.aboutUs{
					
			}
		}
		.topFacultetBlock{ 
			h4{
					font-size: 22px;
			}
			.topFacultet{
				
					.card{
						width: 290px;
						height: 126px;
						p{
							font-size: 18px;
						}
					}
			}
		}
		.workBlock{
			.weareWork{
				.card{
					.cardBack{
						border-radius: 10px;
						p{
							font-size: 18px;
							width: 190px;
						}
						div{
							img{
								width: 100px;
							}
						}
						.card:nth-child(3)::after{
					
						}
					}
				}
				.card:nth-child(1)::after{
					width: 40px;
					right: -20px;
				}
				.card:nth-child(2)::after{
					width: 40px;
					right: -20px;
				}
				.card:nth-child(3)::after{
					height: 40px;
					bottom: -75px;
					left: 140px;
				}
				.card:nth-child(4)::after{
					width: 40px;
					right: -20px;
				}
				.card:nth-child(5)::after{
					width: 40px;
					right: -20px;
				}
			}
		}

	

		.swipperBlock{
			.card{
					height: 420px;
					.top{
						h1{
							font-size: 16px;
						}
						h2{
							font-size: 14px;
						}
						h3{
							font-size: 14px;
						}
						img{
							width: 70px;
							height: 70px;
							margin-right: 15px;
						}
					}
					p{
						font-size: 15px;
						line-height: 28px;
					}
			} 
		}
	}
	.mainEduGate .swipperBlock .swiper-button-next, .mainEduGate .swipperBlock .swiper-button-prev{
		top: 237px;
	}
} 




// 768 
@media (max-width:768px) {
	.mainEduGate{
		.header{
			padding-bottom: 70px;
			h2{
					width: 75%;
					font-size: 26px;
			}
			h3{
					font-size: 16px;
					width: 490px;
			}
			.listLvl{
					p{
						font-size: 16px;
					}
			}
			.freeConsult{
					font-size: 16px;
			}
			.chat{
					h4{
						font-size: 20px;
					}
					img{
						width: 54px;
						height: 54px;
					}
			}
			.filter{
					.dropDwn{
						width: 115px;
						height: 56px;
						select{
							font-size: 16px;
						}
					}
					.dropSearch{
						padding: 14PX 25px;
						svg{
							width: 26px;
							height: 24px;
						}
					}
			}
		}
		.resultBlock{
			padding: 40px 20px  0 20px;
			// & > h5{
			// }
			.result{
					.card{
						width: 220px;
						svg{
							top: 10px;
							right: 10px;
						}
						h1{
							font-size: 16px;
							margin-top: 6px;
						}
						p{
							font-size: 16px;
						}
						img{
							width: 220px;
							height: 140px;
						}
						h2{
							font-size: 14px;
						}
						h3{
							font-size: 14px;
						}
						h4{
							font-size: 14px;
						}
					}
			} 
		}
		.aboutBlock{
			padding: 0 20px;
			.aboutUs{
				.cardAbout{
					height: 220px;
					width: 220px;
					h1{
						font-size: 32px;
					}
					h4{
						text-align: center;
						font-size: 16px;
					}
					p{
						font-size: 14px;
						width: auto;
					}
				}
			}
		}
		.topFacultetBlock{ 
			padding: 0 20px;
			// h4{
			// }
			.topFacultet{
					.card{
						width: 225px;
						height: 107px;
						margin-bottom: 20px;
						p{
							font-size: 16px;
						}
					}
			}
		}
		.workBlock{
			padding-left: 20px;
			padding-right: 20px;
			h4{
				font-size: 22px;
			}
			.weareWork{
				.card{
					.cardBack{
						padding: 15px 12px;
						p{
							font-size: 14px;
							width: 150px;
						}
						div{
							img{
								width: 70px;
							}
						}
						.card:nth-child(3)::after{
					
						}
					}
				}
				.card:nth-child(1)::after{
					background-image: url("../../assets/icon/Line768.svg");
					top: 55px;
					width: 28px;
					height: 14px;
				}
				.card:nth-child(2)::after{
					background-image: url("../../assets/icon/Line768.svg");
					top: 55px;
					width: 28px;
					height: 14px;
				}
				.card:nth-child(3)::after{
					background-image: url("../../assets/icon/Line768-2.svg");
					height: 28px;
					left: 115px;
					width: 14px;
				}
				.card:nth-child(4)::after{
					background-image: url("../../assets/icon/Line768.svg");
					top: 55px;
					width: 28px;
					height: 14px;
				}
				.card:nth-child(5)::after{
					background-image: url("../../assets/icon/Line768.svg");
					top: 55px;
					width: 28px;
					height: 14px;
				}
			}
		}
		.swipperBlock{
			padding: 50px 20px;
		}
	}
} 




// 425 
@media (max-width:425px) {
	.mainEduGate .header .filter .dropSearch{
		margin-left: 0;
	}
	.mainEduGate{
		.header{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 40px 15px 20px 15px;
			h2{
					font-size: 22px;
					width: 80%;
					text-align: center;
					margin: 0 auto;
			}
			h3{
					width: auto;
					font-size: 14px;
					font-size: 14px;
					width: auto;
					text-align: center;
			}
			.listLvl{
					
					p{
						display: flex;
						align-items: center;
						justify-content: center;
						.circleList{
							margin-right: 8px;
						}
					}
			}
			.freeConsult{
					margin: auto;
					margin-top: 15px;
					display: block;
			}
			.chat{
					h4{
					}
			}
			.filter{
					flex-direction: column;
					.dropDwn{
						margin-bottom: 20px;
						width: 280px;
					}
					.dropSearch{
					}
			}
		}
		.resultBlock{
			& > h5{
					text-align: center;
			}
			.result{
					.card{
						width: 350px;
						h1{
						}
						p{
						}
						img{
							width: 350px;
							height: 250px;
						}
						h2{
						}
						h3{
						}
						h4{
						}
					}
			} 
		}
		.aboutBlock{

			& > h5{
					text-align: center;
			}
			.aboutUs{

				flex-direction: column;
				.cardAbout{
					height: 140px;
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
		.topFacultetBlock{ 
			h4{
					text-align: center;
					margin-bottom: 20px;
			}
			.topFacultet{
				
					.card{
						width: 180px;
						height: 97px;
						p{
						}
					}
			}
		}

		
		.workBlock{
			h4{
				text-align: center;
			}
			.weareWork{
				grid-template-columns: 1fr 1fr;
				row-gap: 60px;
				.card{
					.cardBack{
						padding: 10px 8px;
						p{
							width: 110px;
							height: 50px;
							font-size: 12px;
						}
						div{
							img{
								width: 50px;
							}
						}
						.card:nth-child(3)::after{
					
						}
					}
				}
				.card:nth-child(1){
					order: 1;
				}
				.card:nth-child(2){
				order: 2;
				}
				.card:nth-child(3){
					order: 4;
				}
				.card:nth-child(4){
					order: 3;
				}
				.card:nth-child(5){
					order: 5;
				}
				.card:nth-child(6){
					order: 6;
				}

				.card:nth-child(1)::after{
				
				}
				.card:nth-child(2)::after{
					background-image: url("../../assets/icon/Line768-2.svg");
					height: 28px;
					left: 90px;
					width: 14px;
					top: 135px;
					background-position: bottom;
				}
				.card:nth-child(3)::after{
					background-image: url("../../assets/icon/Line768.svg");
					top: 55px;
					width: 28px;
					height: 14px;
					background-position: right;
					transform: rotate(180deg);
					left: -12px;
				}	
				.card:nth-child(4)::after{
					background-image: url("../../assets/icon/Line768-2.svg");
					height: 28px;
					left: 90px;
					width: 14px;
					top: 135px;
					background-position: bottom;
					transform: rotate(0);
				}
				.card:nth-child(5)::after{
					transform: rotate(0);
				}
			}
		}

		.swipperBlock{
			.card{
					.top{
						h1{
						}
						h2{
						}
						h3{
						}
						img{
						}
					}
					p{
					}
			} 
		}
	}
	.mainEduGate .swipperBlock .swiper-button-next, .mainEduGate .swipperBlock .swiper-button-prev{
		
	}
} 
@media (max-width:400px) {
	.mainEduGate .topFacultetBlock .topFacultet .card{
		width: 160px;
		p{
			align-items: center;
		}
	}
	
}



@media (max-width:375px) {
	.mainEduGate{
		.header{
			padding: 40px 15px 20px 15px;
			.filter{
				padding: 20px;
			}
		}
		.topFacultetBlock{
			.topFacultet{
				.card{
					p{
						font-size: 14px;
						text-align: center;
					}
					width: 160px;
					height: 90px;
				}
			}
		}
		.workBlock{
			h4{
				text-align: center;
			}
			
			.weareWork{
				.card p{
					width: 84px;
					font-size: 10px;
				}
				.card:nth-child(1){
					justify-content: flex-start;
				}
				.card:nth-child(2){
					justify-content: flex-end;
				}
				.card:nth-child(3){
					justify-content: flex-end;
				}
				.card:nth-child(4){
					justify-content: flex-start;
				}
				.card:nth-child(5){
					justify-content: flex-start;
				}
				.card:nth-child(6){
					justify-content: flex-end;
				}
			}
		}
	}	
	.mainEduGate .aboutBlock .aboutUs .cardAbout{
		height: 170px;
	}
}


@media (max-width:365px) {
	.mainEduGate .topFacultetBlock .topFacultet .card{
		width: 135px;
	}
}


@media (max-width:320px) {
	.mainEduGate{
		.header{
			.listLvl{
				width: 300px;
			}
			.filter{
				padding: 10px;
				.dropDwn{
					width: 235px;
				}
			}
		}
		.resultBlock{
			.result{
				.card{
					width: 300px;
					img{
						width: 300px;
						height: 210px;
					}
				}
			}
		}
		.topFacultetBlock{
			h4{
				font-size: 19px;
			}
			.topFacultet{
				.card{
					width: 135px;
					height: 85px;
				}
			}
		}
		.aboutBlock{
			.aboutUs{

			}
		}
		.workBlock{	padding-left: 10px;
				padding-right: 10px;
			h4{
				font-size: 22px;
			}
			
		}
		.workBlock .weareWork{
			.card:nth-child(1)::after{
				right: -17px;
			}
			.card:nth-child(2)::after{
				left: 80px;
			}
			.card:nth-child(4)::after{
				left: 55px;
			}
		} 
		.swipperBlock{
			h4{
				font-size: 22px;
				text-align: center;
			}
		}
	}
}