.Up_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.Up_navbar h4 {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.Up_navbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Up_navbar div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.Up_navbar div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Up_navbar div div h5 {
  margin: 0;
  margin-bottom: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.Up_navbar div div p {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #5c7c8a;
}

.fakultet {
  width: 100% !important;
  overflow-y: hidden;
  overflow-x: scroll;
}

.fakultet table {
  width: 140% !important;
}

.fakultet table td {
  padding-right: 50px;
}

.talabalar {
  width: 100% !important;
  overflow-y: hidden;
  overflow-x: scroll;
}

.talabalar table {
  width: 200% !important;
  position: fixed;
  overflow-x: scroll;
}

.talabalar table td {
  padding-right: 50px;
}

.talabalar button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.back_btn {
  background: none !important;
  outline: none !important;
  border: none !important;
  color: #00587f !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.talaba_modal {
  height: 100%;
  width: 30%;
  margin: 10px 0;
  overflow-y: scroll;
}

.class1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px;
  overflow: hidden;
}

#scroll_bar::-webkit-scrollbar-track {
  margin: 10px 0;
  border-radius: 10px;
}

#scroll_bar::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

#scroll_bar::-webkit-scrollbar-thumb {
  margin: 10px 0;
  border-radius: 10px;
  background-color: #00587f;
}

@media (max-width: 1024px) {
  .card_3tali {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .card_3tali .card {
    text-align: center;
  }
  .card_3tali .card h4 {
    font-size: 20px !important;
  }
}

@media (max-width: 425px) {
  .asos .Up_navbar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-bottom: 70px;
  }
  .asos .Up_navbar h4 {
    font-size: 20px;
    width: 60%;
    -webkit-transform: translateX(-100px) translateY(25px);
    transform: translateX(-100px) translateY(25px);
  }
  .asos .Up_navbar h5 {
    font-size: 16px;
  }
  .asos .Up_navbar p {
    font-size: 16px;
  }
  .asos .Up_navbar div img {
    width: 40px;
    height: 40px;
  }
  .asos .Up_navbar div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .asos .Up_navbar div div {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .talabalar table {
    width: 370% !important;
  }
  .fakultet table {
    width: 350% !important;
  }
  .sideGlavny .block_1 {
    margin-bottom: 10px;
  }
  .card_3tali {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card_3tali .card h4 {
    font-size: 18px !important;
  }
  .SidebarUniverstitet .fakultet table thead::before {
    top: 60px !important;
  }
  .sideGlavny .block_2 > div:nth-child(1) {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .sideGlavny .block_1 .card h4 {
    text-align: center;
  }
  .sideGlavny .block_2 > div:nth-child(1) {
    margin-bottom: 20px !important;
  }
}
