.img_big {
  position: absolute;
  z-index: -1;
  width: 100%;
  right: 0;
  top: -120px;
}

.info_h1 {
  padding: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.info_h1 h1 {
  color: #fff !important;
  margin-top: 10px;
}

.info_h1 h2 {
  color: #F2F2F2 !important;
  margin-top: 5px;
}

.info_h1 .user_info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.info_h1 .user_info img {
  width: 150px;
  height: 150px;
}

.info_h1 .user_info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.info .info-1 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 20px 30px;
}

.info .info-1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.info .info-1 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #E96464;
  margin-bottom: 45px;
}

.info .info-1 .info_out {
  background: #E5F7FF;
  border-radius: 34.5px;
  height: 70px;
  width: 100%;
  overflow: hidden;
}

.info .info-1 .info_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: linear-gradient(5.35deg, #00587F 8.92%, rgba(0, 88, 127, 0) 320.51%);
}

.info .info-1 .info_in h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.info .info-1 .info_line_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 50px;
}

.info .info-1 .info_line_list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000000;
  width: 200px;
}

.info .info-1 .info_line_list div::before {
  content: "";
  width: 5px;
  height: 18px;
  background: #7595A3;
  position: absolute;
  -webkit-transform: translateX(80px) translateY(-25px);
          transform: translateX(80px) translateY(-25px);
}

.info .single_h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.info .single_h1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.info .single_h1 a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #00587F;
}

.info .info-2 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 40px;
  margin-top: 30px;
}

.info .info_2_list h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 166.7%;
  letter-spacing: 0.015em;
  color: #000000;
  margin: 30px 0;
}

.info .info-3 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 40px;
  margin-top: 30px;
}
.single_down {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 35px;
}

.single_down h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #00121A;
  padding: 20px 40px;
}

.single_down .info_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 15px 0;
  padding: 20px 40px;
}

.single_down .info_1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #00121A;
  padding: 0;
}

.single_down .info_1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #00121A;
}

.single_down .info_1 a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00587F;
}

.single_down .info_1:nth-child(even) {
  background: #F0FAFF;
}

.single_down .info_1:nth-child(odd) {
  background: #fff;
}

.single_down .info_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.single_down .info_btn button {
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  cursor: pointer;
}

.single_down .info_btn button img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.single_down .info_btn button:nth-child(odd) {
  width: 262px;
  height: 60px;
  background: #E96464;
  border-radius: 10px;
}

.single_down .info_btn button:nth-child(even) {
  width: 262px;
  height: 60px;
  background: #00587F;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .single_down .info_1 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

  
@media (max-width: 425px) {
  .single_down .info_1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .single_down .info_1 div:nth-child(2) {
    margin-left: 20px;
  }
  .single_down .info_btn {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single_down .info_btn button:nth-child(odd) {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .single_down .info_1 h1 {
    font-size: 19px;
  }
  .single_down .info_1 p {
    font-size: 18px;
  }
}
.info .info_3_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}

.info .info_3_list > div {
  width: 100%;
  height: 100%;
}

.info .info_3_list img {
  width: 100%;
  border-radius: 10px;
}

.info .info_3_list .type_file {
  background: #EAF5FA;
  border: 1.5px dashed #009FE5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98%;
  height: 98%;
}

.info .info_3_list .type_file img {
  width: 100%;
}

.info .info_3_list .type_file input {
  display: none;
}

.info .info-4 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 40px;
  margin-top: 30px;
}

.info .info_4_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 150px 50px 150px;
}

.info .info_4_list .MuiSlider-markLabel {
  top: 70px;
  color: #7595A3;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.info .info_4_list .MuiSlider-mark {
  top: 50px;
  width: 4px;
  height: 12px;
  border-radius: 4px;
}

.info .info_4_list .MuiSlider-markActive {
  background-color: #00587F;
}

.info .info_4_list .MuiSlider-thumb {
  margin-left: -21px;
}

.info .info_4_list .MuiSlider-thumb span {
  top: -45px;
}

.info .info_4_list .MuiSlider-thumb span span {
  width: 70px;
  height: 32px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background: #E5F7FF;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.info .info_4_list .MuiSlider-thumb span span::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: #E5F7FF;
  top: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.info .info_4_list .MuiSlider-thumb span span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.info .info_4_list .MuiSlider-thumb span span span::before {
  z-index: -1;
}

.info .info_4_list .input_kvota {
  margin-bottom: 100px;
  margin-top: 50px;
  width: 278px;
  height: 64px;
  border: 1.5px solid #47606B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #5C7C8A;
  outline: none;
  margin-top: 45px;
  margin-bottom: 55px;
}

.info .info-5 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 40px;
  margin-top: 30px;
}

.info .info_5_list {
  height: 500px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 30px;
}

@media (max-width: 1440px) {
  .img_big {
    top: -80px;
  }
}

@media (max-width: 1024px) {
  .img_big {
    top: 0px;
    width: 105%;
  }
  .info .info_4_list {
    margin: 20px 100px 50px 100px;
  }
}

@media (max-width: 768px) {
  .info {
    margin-top: 50px;
  }
  .info .info-1 .info_line_list div::before {
    -webkit-transform: translateX(50px) translateY(-25px);
            transform: translateX(50px) translateY(-25px);
  }
  .info .info-1 .info_line_list h3 {
    width: 150px;
  }
  .info .info_2_list h1 {
    font-size: 22px;
  }
  .info .info_3_list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .info .info_4_list {
    margin: 20px 30px 50px 30px;
  }
  .info_h1 .user_info img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 425px) {
  .info {
    margin-top: 80px;
  }
  .info .info-1 .info_line_list h3 {
    width: 60px;
    margin: 0 9px;
    font-size: 14px;
  }
  .info .info-1 .info_line_list div::before {
    -webkit-transform: translateX(40px) translateY(-25px);
            transform: translateX(40px) translateY(-25px);
  }
  .info .info-1 .info_out {
    height: 55px;
  }
  .info .info_2_list h1 {
    font-size: 20px;
  }
  .info .info-3 {
    padding: 25px;
  }
  .info .info_3_list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  .info .info_4_list {
    margin: 0 10px;
  }
  .info .info_4_list .input_kvota {
    margin-bottom: 65px;
  }
  .info .info_4_list .MuiSlider-mark {
    display: none;
  }
  .info .info_4_list .MuiSlider-markLabel {
    display: none;
  }
  .info .info-4 {
    padding: 30px;
  }
  .info .info_5_list {
    height: 315px;
  }
  .info_h1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info_h1 .user_info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info_h1 .user_info img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .info .info-1 h1 {
    font-size: 20px;
  }
  .info .info-1 h2 {
    font-size: 18px;
  }
  .info .info-1 .info_out {
    height: 55px;
  }
  .info .info-1 .info_in h1 {
    font-size: 20px;
  }
  .info .info-3 {
    padding: 20px;
  }
  .info .single_h1 h1 {
    font-size: 20px;
  }
  .info .info_2_list h1 {
    font-size: 18px;
  }
  .info .info-4 {
    padding: 20px;
  }
  .info .info_4_list {
    margin: 0px 25px;
  }
}

@media (max-width: 320px) {
  .info {
    margin-top: 30px;
  }
  .info .info-1 .info_line_list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .info .info-1 .info_line_list div::before {
    display: none;
  }
  .info .info-3 {
    padding: 10px;
  }
  .info .info_3_list {
    grid-gap: 10px;
  }
  .info .info_4_list .input_kvota {
    width: 225px;
    height: 45px;
  }
  .info .info_5_list {
    height: 240px;
  }
}
