@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.SidebarAgentlar > button {
  padding: 18px 34px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  background: #00587F;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.SidebarAgentlar .settSearch {
  margin-top: 23px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SidebarAgentlar .settSearch > button {
  outline: none;
  border: none;
}
.SidebarAgentlar .settSearch .searchUniv {
  background: #FFFFFF;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.SidebarAgentlar .settSearch .searchUniv input {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #7595A3;
  outline: none;
  background: none;
  border: none;
  width: 100%;
}
.SidebarAgentlar .settSearch .searchUniv img {
  padding: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.SidebarAgentlar .settSearch .settingsUniver {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.SidebarAgentlar .univerList {
  margin-top: 24px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  background: #fff;
  padding: 22px 0px;
}
.SidebarAgentlar .univerList h5 {
  margin: 0 0 46px 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #00121A;
}
.SidebarAgentlar .univerList .infoTd {
  text-align: center;
}
.SidebarAgentlar .univerList .infoTd img {
  width: 28px;
  height: 28px;
}
.SidebarAgentlar .univerList table {
  border-spacing: 0;
  position: relative;
  width: 100%;
}
.SidebarAgentlar .univerList table thead::before {
  content: "";
  background: #00587F;
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 37px;
}
.SidebarAgentlar .univerList table tr {
  padding-bottom: 16px;
  border-bottom: 1.5px solid #00587F;
}
.SidebarAgentlar .univerList table tr th {
  text-align: inherit;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #00121A;
}
.SidebarAgentlar .univerList table tr td {
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #00121A;
}
.SidebarAgentlar .univerList table tr .priDoc {
  color: #219653;
  font-weight: 500;
}
.SidebarAgentlar .univerList table tr .priZak {
  color: #E96464;
  font-weight: 500;
}
.SidebarAgentlar .univerList table tr .firstTD {
  margin-left: 10px;
}
.SidebarAgentlar .univerList table .firstTD {
  padding-left: 32px;
}
.SidebarAgentlar .univerList table tbody tr:nth-child(even) {
  background: #F0FAFF;
}
.SidebarAgentlar .univerList table thead th {
  padding-bottom: 12px;
}
.SidebarAgentlar .raytingAgentBlock {
  margin-top: 44px;
  padding: 22px 32px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
.SidebarAgentlar .raytingAgentBlock .raytingAgentTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SidebarAgentlar .raytingAgentBlock .raytingAgentTitle p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #00121A;
}
.SidebarAgentlar .raytingAgentBlock .raytingAgentTitle select {
  width: 160px;
  border: none;
  outline: none;
  background: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #00121A;
}
.SidebarAgentlar .FilterFix {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.SidebarAgentlar .FilterFix .fixLeft {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}
.SidebarAgentlar .FilterFix .FilterUniver {
  background: #fff;
  padding: 30px 46px 0 32px;
  /* для элемента label, связанного с .custom-checkbox */
  /* создание в label псевдоэлемента before со следующими стилями */
  /* стили при наведении курсора на checkbox */
  /* стили для чекбокса, находящегося в состоянии checked */
}
.SidebarAgentlar .FilterFix .FilterUniver > h4 {
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #000000;
  margin: 0 0 4px 0;
}
.SidebarAgentlar .FilterFix .FilterUniver > p {
  margin: 24px 0 10px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
.SidebarAgentlar .FilterFix .FilterUniver .datapickBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SidebarAgentlar .FilterFix .FilterUniver .datapickBlock > div {
  position: relative;
}
.SidebarAgentlar .FilterFix .FilterUniver .datapickBlock > div::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon/data_icon.svg");
  position: absolute;
  z-index: 99999999;
  left: 10px;
  top: 9px;
}
.SidebarAgentlar .FilterFix .FilterUniver .datapickBlock img {
  margin-right: 10px;
}
.SidebarAgentlar .FilterFix .FilterUniver .datapickBlock input {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #7595A3;
  outline: none;
  background: none;
  font-size: 18px;
  width: 95%;
  padding: 10px 18px;
  border: 1px solid #00587F;
  border-radius: 8px;
  text-align: right;
  position: relative;
}
.SidebarAgentlar .FilterFix .FilterUniver .selectCountry {
  padding: 0 16px;
  border: 1px solid #00587F;
  border-radius: 8px;
}
.SidebarAgentlar .FilterFix .FilterUniver .selectCountry select {
  padding: 12px 0;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #00121A;
  border: none;
  outline: none;
}
.SidebarAgentlar .FilterFix .FilterUniver > button {
  padding: 18px 0;
  width: 100%;
  margin-top: 44px;
  background: #00587F;
  border-radius: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  border: none;
}
.SidebarAgentlar .FilterFix .FilterUniver .custom-checkbox {
  display: flex;
  align-items: center;
}
.SidebarAgentlar .FilterFix .FilterUniver .custom-checkbox p {
  margin: 0 0 0 8px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
.SidebarAgentlar .FilterFix .FilterUniver .custom-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.SidebarAgentlar .FilterFix .FilterUniver .custom-checkbox span {
  display: flex;
  align-items: center;
  user-select: none;
}
.SidebarAgentlar .FilterFix .FilterUniver .custom-checkbox span::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #E0E7EB;
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.SidebarAgentlar .FilterFix .FilterUniver .custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}
.SidebarAgentlar .FilterFix .FilterUniver .custom-checkbox > input:checked + span::before {
  border-color: #006aff00;
  background: #00587F;
  background-image: url("../../assets/icon/true.svg");
  background-position: center;
  width: 22px;
}
.SidebarAgentlar .FilterFix .FilterUniver .checkSt1 {
  margin-top: 24px;
}
.SidebarAgentlar .FilterFix .FilterUniver .checkSt2 {
  margin-top: 16px;
}
.SidebarAgentlar .FilterFix .FilterUniver .viewConsult {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SidebarAgentlar .FilterFix .FilterUniver .viewConsult p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
.SidebarAgentlar .FilterFix .FilterUniver .viewConsult > div {
  cursor: pointer;
  padding: 7px;
  width: 73px;
  height: 40px;
  background: #00587F;
  border-radius: 22px;
  display: flex;
  align-items: center;
}
.SidebarAgentlar .FilterFix .FilterUniver .viewConsult > div div {
  width: 26px;
  height: 26px;
  background: #FFFFFF;
  border-radius: 50%;
  align-self: flex-end;
}
.SidebarAgentlar .FilterFix .FilterUniver .viewConsult .passview {
  justify-content: flex-start;
}
.SidebarAgentlar .FilterFix .FilterUniver .viewConsult .actview {
  justify-content: flex-end;
}

.addNewUniverModalUniver {
  background: white;
  height: auto;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}
.addNewUniverModalUniver > img {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  width: 32px;
}
.addNewUniverModalUniver .modalContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addNewUniverModalUniver .modalContainer h5 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #00121A;
  margin: 0 0 30px 0;
}
.addNewUniverModalUniver .modalContainer > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.addNewUniverModalUniver .modalContainer > div label {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #000000;
}
.addNewUniverModalUniver .modalContainer > div input, .addNewUniverModalUniver .modalContainer > div select, .addNewUniverModalUniver .modalContainer > div textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #47606B;
  border-radius: 10px;
  outline: none;
  padding: 15px 23px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #5C7C8A;
}
.addNewUniverModalUniver .modalContainer .modalDataPick {
  position: relative;
}
.addNewUniverModalUniver .modalContainer .modalDataPick > div {
  width: 100%;
}
.addNewUniverModalUniver .modalContainer .modalDataPick input {
  padding-left: 44px;
  width: 100%;
}
.addNewUniverModalUniver .modalContainer .modalDataPick::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon/data_icon.svg");
  position: absolute;
  z-index: 99999999;
  left: 14px;
  bottom: 34px;
}
.addNewUniverModalUniver .modalContainer .importFile {
  background: #EAF5FA;
  border: 1px dashed #009FE5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
  margin: 10px 0 0 0;
}
.addNewUniverModalUniver .modalContainer .importFile p {
  margin: 0 0 0 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #5C7C8A;
}
.addNewUniverModalUniver .modalContainer .importFile p label {
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
}
.addNewUniverModalUniver .modalContainer .importFile p #chFile {
  display: none;
}
.addNewUniverModalUniver .modalContainer > button {
  width: 100%;
  margin-top: 40px;
  padding: 20px 0;
  background: #00587F;
  border-radius: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
}
.addNewUniverModalUniver .modalContainer .back_btn {
  background: none;
  outline: none;
  border: none;
  color: #00587F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

@media (max-width: 1080px) {
  .SidebarUniverstitet > button {
    padding: 14px 25px;
    font-size: 18px;
  }
  .SidebarUniverstitet .settSearch {
    height: 50px;
  }
  .SidebarUniverstitet .settSearch > button {
    outline: none;
    border: none;
  }
  .SidebarUniverstitet .settSearch .searchUniv {
    padding: 0 20px 0 10px;
  }
  .SidebarUniverstitet .settSearch .searchUniv input {
    font-size: 18px;
  }
  .SidebarUniverstitet .settSearch .searchUniv img {
    padding: 9px;
    margin-right: 10px;
    cursor: pointer;
  }
  .SidebarUniverstitet .settSearch .settingsUniver {
    width: 50px;
  }
  .SidebarUniverstitet .univerList .infoTd img {
    width: 18px;
    height: 18px;
  }
  .SidebarUniverstitet .univerList table thead::before {
    top: 30px;
  }
  .SidebarUniverstitet .univerList table tr th {
    font-size: 16px;
  }
  .SidebarUniverstitet .univerList table tr td {
    font-size: 15px;
    padding: 17px 5px;
  }
  .SidebarUniverstitet .univerList table tr .firstTD {
    padding-left: 12px;
  }
  .SidebarUniverstitet .univerList table thead th {
    padding-bottom: 12px;
  }
  .SidebarUniverstitet .FilterFix {
    grid-template-columns: 7fr 3fr;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver {
    padding: 15px 15px 0 15px;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver > h4 {
    font-size: 22px;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver > p {
    font-size: 14px;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver .datapickBlock img {
    margin-right: 10px;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver .datapickBlock input {
    font-size: 14px;
    padding: 10px 10px 10px 18px;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver .selectCountry {
    padding: 0 14px;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver .selectCountry select {
    padding: 10px 0;
    font-size: 14px;
  }
  .SidebarUniverstitet .FilterFix .FilterUniver > button {
    padding: 10px 0;
  }

  .addNewUniverModalUniver {
    width: 90%;
  }
  .addNewUniverModalUniver > img {
    top: 12px;
    right: 12px;
    width: 30px;
  }
  .addNewUniverModalUniver .modalContainer h5 {
    margin: 0 0 15px 0;
  }
  .addNewUniverModalUniver .modalContainer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .addNewUniverModalUniver .modalContainer > div input, .addNewUniverModalUniver .modalContainer > div select, .addNewUniverModalUniver .modalContainer > div textarea {
    padding: 10px 23px;
  }
  .addNewUniverModalUniver .modalContainer .modalDataPick input {
    padding-left: 44px;
    width: 100%;
  }
  .addNewUniverModalUniver .modalContainer .modalDataPick::before {
    bottom: 30px;
  }
  .addNewUniverModalUniver .modalContainer .importFile {
    padding: 10px 0;
  }
  .addNewUniverModalUniver .modalContainer .importFile img {
    width: 22px;
  }
  .addNewUniverModalUniver .modalContainer > button {
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 12px;
  }

  .addNewUniverModalUniver {
    height: 78%;
    padding-bottom: 30px !important;
  }

  .ReactModal__Content {
    margin-left: 320px !important;
  }

  .modal_2 {
    height: 100% !important;
    padding-bottom: 125px !important;
  }
}
.ReactModal__Overlay {
  overflow-y: scroll;
}

.ReactModal__Overlay::-webkit-scrollbar {
  width: 10px;
}

@media (max-width: 1300px) {
  .SidebarAgentlar .FilterFix {
    grid-template-columns: 7fr 3fr;
  }
}
@media (max-width: 768px) {
  .SidebarUniverstitet .univerList table thead::before {
    top: 40px;
  }
}
@media (max-width: 425px) {
  .SidebarAgentlar .block_chart .diag {
    height: 300px !important;
  }
  .SidebarAgentlar .univerList {
    overflow-x: scroll;
  }
  .SidebarAgentlar .univerList table {
    width: 200%;
  }

  .addNewUniverModalUniver {
    width: 100%;
  }
  .addNewUniverModalUniver .modalContainer .importFile {
    padding-left: 20px;
  }

  .SidebarUniverstitet .FilterFix {
    grid-template-columns: 1fr 3fr;
  }
}

/*# sourceMappingURL=SidebarAgentlar.css.map */
