html {
  scroll-behavior: smooth;
}

.single_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u_img {
  height: 700px;
}

.konsultant_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.konsultant_modal .k_modal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: white;
  border-radius: 14px;
  padding: 15px 30px 30px 30px;
  width: 300px;
  height: 280px;
}

.konsultant_modal .k_modal img {
  position: relative;
  -webkit-transform: translateX(220px);
          transform: translateX(220px);
  cursor: pointer;
}

.konsultant_modal .k_modal button {
  margin: 0 15px;
  border-radius: 10px;
  border: 1.5px solid #00587F;
  outline: none;
  background: #00587F;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.konsultant_modal .k_modal .MuiOutlinedInput-notchedOutline {
  border: 1.5px solid #00587F;
  border-radius: 10px;
}

.konsultant_modal .k_modal .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #00587F;
}

.konsultant_modal .k_modal .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1px;
  border-color: #00587F;
}

.konsultant_modal .k_modal .MuiFormLabel-root {
  color: #00587F;
}

.sp_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 120px 0 120px;
  -webkit-transform: translateY(-135px);
          transform: translateY(-135px);
  height: 0;
}

.sp_title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}

.sp_title button {
  border: 2px solid #D1DCE0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  outline: none;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
  padding: 20px 50px;
}

.sp_navbar {
  background: #00587F;
  padding: 35px 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sp_navbar a {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.sp_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  padding: 0 100px;
}

.sp_main .sp_main1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin: 25px 0;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.sp_main .sp_main_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.sp_main .sp_main_left .sp_map {
  padding: 20px 0;
  height: 300px;
  width: 430px;
}

.sp_main .sp_main_left p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
}

.sp_main .sp_main_left .xAxis .recharts-cartesian-axis-tick {
  display: none;
}

.sp_main .sp_table table {
  border: 1.5px solid #94ADB8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  border-collapse: collapse;
}

.sp_main .sp_table table tr th {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.sp_main .sp_table table tr td:nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.sp_main .sp_table table tr td:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.sp_main .sp_table table tr td {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.sp_main .sp_table table td {
  border-style: solid;
  border-width: 2px;
  border-color: #94ADB8;
  background: white;
  padding: 20px;
}

.sp_main .sp_table table th {
  border-style: solid;
  border-width: 2px;
  border-color: #94ADB8;
  background: #94adb880;
  padding: 20px;
}

.sp_main .sp_main1_right h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 166.7%;
  letter-spacing: 0.015em;
  color: #000000;
}

.sp_main .sp_main1_right h1 span {
  font-weight: 600;
}

.sp_main .sp_main2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp_main .sp_main2 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  padding-bottom: 15px;
}

.sp_main .sp_main2_right h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 166.7%;
  letter-spacing: 0.015em;
  color: #000000;
}

.sp_main .sp_main2_right ul {
  padding-left: 40px;
}

.sp_main .sp_main2_right ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 170.2%;
  letter-spacing: 0.015em;
  color: #000000;
  margin: 15px 0;
}

.sp_main .sp_main3_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp_main .sp_main3_right button, .sp_main .sp_main3_right a {
  width: 250px;
  height: 60px;
}

.sp_main .sp_main3_right button {
  margin: 0 15px;
  border-radius: 10px;
  background: #00587F;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  border: 1.5px solid #00587F;
}

.sp_main .sp_main3_right a {
  margin: 0 15px;
  border-radius: 10px;
  border: 1.5px solid #00587F;
  outline: none;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #00587F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sp_main .sp_swiper {
  margin-top: 70px;
}

.sp_main .sp_swiper .swiper-container {
  padding: 0 0 35px 0;
}

.sp_main .sp_swiper .swiper-container .swiper-pagination-bullet-active {
  background: black;
}

.sp_main .sp_swiper .swiper-container .swiper-slide img {
  border-radius: 12px;
}

@media (max-width: 1440px) {
  .sp_main .sp_main1_right h1 {
    font-size: 22px;
  }
  .sp_main .sp_table table tr th {
    font-size: 21px;
  }
  .sp_main .sp_table table tr td {
    font-size: 20px;
  }
  .sp_main .sp_table table tr td:nth-child(2) {
    font-size: 20px;
  }
  .sp_main .sp_table table tr td:nth-child(1) {
    font-size: 20px;
  }
  .sp_main .sp_main_left .sp_map {
    width: 363px;
    height: 300px;
  }
  .sp_main .sp_main2_right h1 {
    font-size: 24px;
  }
  .sp_main .sp_main2_right ul li {
    font-size: 22px;
  }
  .sp_main .sp_main2_right h2 {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .sp_title {
    padding: 0 30px 0 30px;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  .sp_main {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
  .sp_main .sp_table table td {
    padding: 10px;
  }
  .sp_main .sp_table table tr th {
    font-size: 19px;
  }
  .sp_main .sp_table table tr td {
    font-size: 18px;
  }
  .sp_main .sp_table table tr td:nth-child(1) {
    font-size: 18px;
  }
  .sp_main .sp_table table tr td:nth-child(2) {
    font-size: 18px;
  }
  .sp_main .sp_main_left .sp_map {
    width: 300px;
  }
  .sp_main .sp_main1_right h1 {
    font-size: 18px;
  }
  .sp_main .sp_main2_right ul li {
    font-size: 18px;
  }
  .sp_main .sp_main2_right h1 {
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .sp_main .sp_main2_right ul li {
    margin: 10px 0;
  }
  .sp_main .sp_main2_right h2 {
    font-size: 18px;
  }
  .sp_title h1 {
    font-size: 32px;
  }
  .sp_title button {
    padding: 10px 33px;
  }
  .sp_navbar a {
    font-size: 20px;
  }
  .u_img {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .u_img {
    height: 400px;
  }
  .sp_main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sp_main .sp_table table tr td:nth-child(1) {
    font-size: 15px;
    padding: 8px;
  }
  .sp_main .sp_table table tr th {
    font-size: 16px;
    padding: 8px;
  }
  .sp_main .sp_table table tr td {
    font-size: 15px;
    padding: 8px;
  }
  .sp_main .sp_table table tr td:nth-child(2) {
    font-size: 15px;
    padding: 8px;
  }
  .sp_main .sp_main1 {
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sp_main .sp_main2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sp_main .sp_main_left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sp3 .sp_main_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sp_main .sp_main3_right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sp_main .sp_main1_right h1 {
    font-size: 16px;
  }
  .sp_main .sp_main_left .sp_map {
    width: 267px;
    width: 230px;
  }
  .sp_main .sp_main2_right h1 {
    font-size: 17px;
    padding-bottom: 0;
  }
  .sp_main .sp_main2_right ul li {
    font-size: 15px;
  }
  .sp_main .sp_main_left p {
    font-size: 15px;
  }
}

@media (max-width: 580px) {
  .sp_main3_right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sp_main3_right button {
    margin: 10px 0 !important;
  }
}

@media (max-width: 706px) {
  .sp2_table {
    width: 95%;
    overflow: hidden;
    overflow-x: scroll;
  }
  .sp2_table table {
    width: 100%;
  }
  .sp2 div {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .sp_main .sp_main_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .u_img {
    height: 260px;
  }
  .sp_main .sp_main1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sp_title {
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
  }
  .sp_title button {
    font-size: 15px;
    padding: 5px 30px;
  }
  .sp_navbar {
    grid-gap: 0;
  }
  .sp_navbar a {
    font-size: 18px;
    padding: 0;
  }
  .sp_main .sp_main2_right h1 {
    text-align: center;
    margin-top: 40px;
  }
  .sp_main .sp_main1_right h1 {
    font-size: 16px;
  }
  .sp_main .sp1 .sp_main_left .sp_map {
    width: 330px;
  }
  .sp_main .sp_main2_right h1 {
    font-size: 20px;
  }
  .sp_main .sp_main2_right ul li {
    font-size: 16px;
  }
  .sp_navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .sp_navbar a {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
  }
  .sp_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sp_title h1 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .sp_main {
    padding: 0 20px;
  }
  .sp_main .sp_table table tr td:nth-child(1) {
    font-size: 18px;
  }
  .sp_main .sp_table table tr td:nth-child(2) {
    font-size: 18px;
  }
  .sp_main .sp_table table tr th {
    font-size: 19px;
  }
  .sp_main .sp_table table tr td {
    font-size: 18px;
  }
  .sp_main .sp5 {
    margin: 0 !important;
    grid-gap: 0;
  }
  .sp_main .sp_main3_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sp_main .sp_main3_right a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 !important;
    margin: 10px 0 !important;
    height: 45px;
    width: 300px;
  }
  .sp_main .sp_main3_right a {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .sp_main .sp_swiper {
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .sp_main .sp1 .sp_main_left .sp_map {
    width: 275px;
  }
  .sp_main .sp_table table tr th {
    font-size: 17px;
  }
  .sp_main .sp_table table tr td {
    font-size: 16px;
  }
  .sp_main .sp_table table tr td:nth-child(1) {
    font-size: 16px;
  }
  .sp_main .sp_table table tr td:nth-child(2) {
    font-size: 16px;
  }
  .sp_main .sp_main2_right h2 {
    font-size: 16px;
  }
  .sp_main .sp_main2_right h1 {
    font-size: 18px;
  }
}
