@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.status {
  padding: 30px;
}

.status .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.status .top h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  font-size: 26px;
  font-weight: bold;
}

.status .top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status .top div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.status .top div h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  margin-left: 12px;
  font-size: 16px;
}

.status .top div h2 span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  display: block;
}

.status .bottom {
  margin-top: 48px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.status .bottom h1 {
  margin-top: 38px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.status .bottom h1 span {
  display: block;
}

@media (max-width: 1024px) {
  .status .bottom svg {
    width: 160px;
    height: 160px;
  }
  .status .bottom h1 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .status {
    padding: 60px 10px 30px 10px;
  }
  .status .top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .status .top h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .status .bottom {
    padding: 20px 10px;
  }
  .status .bottom svg {
    width: 120px;
    height: 120px;
  }
  .status .bottom h1 {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .status {
    padding-top: 5px;
  }
  .status .top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
  }
  .status .top > div {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 20px;
  }
  .status .top h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
